#homepage {
	background : $black url('../img/default-header.jpg') no-repeat center 0;
}

#homepage-logo {
	display:block;
	margin: 209px auto 0;
}

#move-down-bottle-cap {
	display:block;
	margin: 315px auto 0;
	text-align:center;
}

#beer-and-code {
	text-align:center;
	margin-top:500px;
	margin-bottom:80px;
}

#contact-your-message {
	height:200px;
}
