#navigation {

	width           : 100%;
	position        : fixed;
	top             : 0px;
	text-transform  : uppercase;
	z-index         : 100;
	text-align      : center;
	height          : 150px;
	opacity         : 0;

	transition:opacity 0.25s, top 0.75s;

	@include bgopacity($black);

	a {
		color       : $red;
		font-weight : 900;
		font-family : $montserrat;
		width       : 150px;

		&:hover {
			color   : lighten($red, 10%);
		}
	}

	.middle-logo {
		margin      : 0 100px;
	}
}