#show {
	background-repeat   : no-repeat;
	background-position : center 0;
}

#show-gallery {
	li {
		float        : left;
		margin-right : 8px;
		padding      : 1px;

		@include linear-gradient(90deg, rgb(74,74,74) 0%, rgb(74,74,74) 20%, rgb(157,156,156) 50%, rgb(74,74,74) 80%, rgb(74,74,74) 100%);
	}
}