// Type
$lato          : Lato, Tahoma, Arial, sans-serif;
$montserrat    : Montserrat, Lato, Tahoma, Arial, sans-serif;

// Colors
$black         : #171717;
$light-black   : #222222;
$white         : #f0f0f0;
$gray          : #7c7c7c;
$info-btn-gray : #858585;
$red           : #cf1717;
$yellow        : #d1d5a6;

// Initial sizes;
$h1-font-size  : 60px;
